<ul class="mdl-list menu">
    <% @menu.each do |item| %>
        <% if !item[:multipleInputs] %>
            <strong><%= item[:categoryName] %></strong>
            <% item[:category].each do |sub_item| %>
                <% if sub_item[:readMode] %>
                    <a href="<%= sub_item[:link] %>" >
                        <li class="mdl-list__item mdl-js-ripple-effect">
                            <span class="mdl-list__item-primary-content menu-title">
                                <%= sub_item[:title] %>
                                <span class="menu-subtitle"><%= sub_item[:subtitle] %></span>
                            </span>
                            <span class="mdl-list__item-secondary-action">
                                <% if sub_item[:formType] == 'checkbox' %>
                                <form method="POST" action="">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                                        <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
                                    </label>
                                </form>
                                <% end %>
                                <% if sub_item[:formType] == 'textfield' %>
                                    <i class="material-icons">mode_edit</i>
                                <% end %>
                            </span>     
                        </li>
                    </a>
                <% end %>
                <% if !sub_item[:readMode] %>
                    <% if sub_item[:formType] == 'textfield' %>
                    <form method="POST" action="">
                        <% sub_item[:form].each do |form| %>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield-container textfield-menu-container">
                            <input class="mdl-textfield__input" type="<%= form[:inputType] %> password" name="<%= form[:inputName] %>" id="<%= form[:inputId] %>" pattern="<%= form[:inputPattern] %>">
                            <label class="mdl-textfield__label" for="<%= form[:inputId] %>"><%= form[:inputLabel] %></label>
                            <span class="mdl-textfield__error"><%= form[:inputError] %></span>
                        </div>
                        <% end %>
                    </form>
                    <% end %>
                <% end %>
            <% end %>
            <br/> <br/>
        <% else %>
        <strong><%= item[:categoryName] %></strong>
            <form method="POST" action="">
                <% item[:category].each do |sub_item| %>
                     <% sub_item[:form].each do |form| %>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield-container textfield-menu-container">
                            <input class="mdl-textfield__input" type="<%= form[:inputType] %>" name="<%= form[:inputName] %>" id="<%= form[:inputId] %>">
                            <label class="mdl-textfield__label" for="<%= form[:inputId] %>"><%= form[:inputLabel] %></label>
                            <span class="mdl-textfield__error"><%= form[:inputError] %></span>
                        </div>
                    <% end %>
                <% end %>
            </form>
        <% end %>
    <% end %>
</ul>