<ul class="mdl-list menu">
    <% @menu.getItems().each do |menu_items| %>
                <% if !menu_items[:category].nil? %>
                    <strong><%= menu_items[:category] %></strong>
                <% end %>
                <% menu_items[:list].each do |item| %>
                    <% if item.getReadMode() %>
                        <a href="<%= item.getAction()  %>" class="test" >
                            <li class="mdl-list__item mdl-js-ripple-effect menu_sub_item">
                                <span class="mdl-list__item-primary-content menu-title">
                                    <%= item.getTitle() %>
                                    <span class="menu-subtitle"><%=  item.getSubTitle() %></span>
                                </span>
                                <span class="mdl-list__item-secondary-action">
                                    <% if !item.getIcon().nil? %>
                                        <i class="material-icons"><%= item.getIcon() %></i>
                                    <% end %>
                                </span>     
                            </li>
                        </a>                       
                    <% end %>
                <% end %>
    <% end %>
</ul>
