<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
        <h2 class="mdl-card__title-text">Your Profile</h2><br/>
        <form action="<%=@user.id%>/updateProfile" method="POST">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" name="user[usernameOrEmail]" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="username-or-email">
             <label class="mdl-textfield__label" for="username-or-email"> Your e-mail address(actually <strong><%= @user.username %></strong>)</label>
             <span class="mdl-textfield__error">Expected a valid e-mail address</span>
           </div><br/>
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" name="profile[name]" id="name">
             <label class="mdl-textfield__label" for="name">Your name (actually <%= (@profile.nil? or @profile.name =='') ? 'no name registered' : ("<strong>" + @profile.name + "</strong>") %>)</label>
             <span class="mdl-textfield__error">Expected a valid name</span>
           </div><br/>
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" name="profile[phone]" pattern="[0-9]*" id="phone">
             <label class="mdl-textfield__label" for="phone">Your phone number (actually <%= (@profile.nil?  or @profile.phone =='') ? 'no phone registered' : ("<strong>" + @profile.phone + "</strong>") %>)</label>
             <span class="mdl-textfield__error">Expected a valid phone number</span>
           </div><br/>
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" name="profile[ZIPcode]" type="text" id="ZIP-code" pattern="^\d{5}(?:[-\s]\d{4})?$">
             <label class="mdl-textfield__label" for="ZIP-code">Your ZIP code (actually <%= (@profile.nil?  or @profile.ZIPcode =='') ? 'no ZIP-code registered' : ("<strong>" + @profile.ZIPcode + "</strong>") %>)</label>
             <span class="mdl-textfield__error">Expected a valid ZIP code</span>
           </div><br/>
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" name="profile[city]" id="city">
             <label class="mdl-textfield__label" for="city">Your city (actually <%= (@profile.nil? or @profile.city =='') ? 'no city registered' : ("<strong>" + @profile.city + "</strong>") %>)</label>
           </div><br/>
           <input type="submit" id="settings-profile-submit-hidden">
         </form>
         <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="settings-profile-submit">
           UPDATE
         </a>
        <br/><br/><br/><br/>
        <h2 class="mdl-card__title-text">Manage Password</h2><br/>
        <form action="<%=@user.id%>/updatePassword" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" name="user[newPassword]" id="newPassword">
              <label class="mdl-textfield__label" for="newPassword">Enter a new password</label>
            </div><br/>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" name="user[reNewPassword]" id="reNewPassword">
              <label class="mdl-textfield__label" for="reNewPassword">Re-type your new password</label>
            </div><br/>
            <input type="submit" id="settings-passwords-submit-hidden">
        </form>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="settings-passwords-submit">
          UPDATE
        </a>
</section>

<script type="text/javascript">
  $(function(){
    $("#settings-profile-submit").click(function(){
          $("#settings-profile-submit-hidden").click();
    });
    $("#settings-passwords-submit").click(function(){
          $("#settings-passwords-submit-hidden").click();
    });
  });
</script>
<style>
.demo-card-square.mdl-card{
  width: 100%;
  height: auto;
}
.mdl-card__supporting-text{
  width:100%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #1DE9B6;
}
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
{
  width: 90%;
}

#settings-profile-submit-hidden,#settings-passwords-submit-hidden
{
  display: none;
}
</style>
