<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="<%= url('./stylesheets/utils.css') %>">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="<%= url('./scripts/libraries/jquery-3.2.1.min.js') %>"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <title>Sinatra Sample App</title>
</head>

<body>
  <div id="main">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header  mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" id="header-row-layout-online">
          <!-- Title -->
          <span class="mdl-layout-title"><%= @controller_name %></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <span class="mdl-chip mdl-chip--contact">
                <a href="https://fr.gravatar.com/" target="_blank" style="color:grey;">
                  <img class="mdl-chip__contact" src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@user.username) %>"></img>
                  <span class="mdl-chip__text">Logged as <strong><%=@user.username%></strong></span>
                </a>
            </span>
            <a class="mdl-navigation__link" href="" ><i class="material-icons material-icons-io" id="large-screen-chat-none-icon">chat_bubble_outline</i><div class="mdl-tooltip" for="large-screen-chat-none-icon">Conversations (0)</div></a>
            <a class="mdl-navigation__link" href=""><i class="material-icons material-icons-io"  id="large-screen-notifications-none-icon">notifications_none</i><div class="mdl-tooltip" for="large-screen-notifications-none-icon">Notifications (0)</div></a>
            <a class="mdl-navigation__link" href="/settings/<%=@user.id%>"><i class="material-icons material-icons-io"  id="large-screen-settings-icon">settings</i><div class="mdl-tooltip" for="large-screen-settings-icon">Settings</div></a>
            <a class="mdl-navigation__link" href="/logout"><i class="material-icons material-icons-io" id="large-screen-logout-icon" >exit_to_app</i><div class="mdl-tooltip" for="large-screen-logout-icon">Sign-out</div></a>
          </nav>
          <nav class="mdl-navigation mdl-layout--small-screen-only">
            <span class="mdl-chip mdl-chip--contact">
                <a href="https://fr.gravatar.com/" target="_blank" style="color:grey;">
                  <img class="mdl-chip__contact" src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@user.username) %>"></img>
                  <span class="mdl-chip__text">Logged as <strong><%=@user.username%></strong></span>
                </a>
            </span>
            <a class="mdl-navigation__link" href=""><i class="material-icons material-icons-io" id="small-screen-chat-none-icon">chat_bubble_outline</i><div class="mdl-tooltip" for="small-screen-chat-none-icon">Conversations (0)</div></a>
            <a class="mdl-navigation__link" href=""><i class="material-icons material-icons-io" id="small-screen-notifications-none-icon">notifications_none</i><div class="mdl-tooltip" for="small-screen-notifications-none-icon">Notifications (0)</div></a>
          </nav>
        </div>
        <% if @tabs %>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <% @tabArray.each_with_index do |item, index| %>  
                <a href="#fixed-tab-<%=item[0]%>" class="mdl-layout__tab"><%= item[1] %></a>
            <% end %>
        </div>
        <% end %>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Catégories</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/dashboard/<%=@user.id%>">Dashboard <i class="material-icons material-icons-io icons-side-menu">dashboard</i></a>
          <a class="mdl-navigation__link" href="/dashboard/<%=@user.id%>/javascript">Javascript <i class="material-icons material-icons-io icons-side-menu">keyboard_arrow_right</i></a>
        </nav>
        <nav class="mdl-navigation mdl-layout--small-screen-only" id="mobile-side-menu-nav-2">
          <a class="mdl-navigation__link" href="/settings/<%=@user.id%>">Settings <i class="material-icons material-icons-io icons-side-menu">settings</i></a>
          <a class="mdl-navigation__link" href="/logout">Sign-out <i class="material-icons material-icons-io icons-side-menu" >exit_to_app</i></a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <%= yield %>
        </div>
      </main>
    </div>
  </div>
  <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar" id="snackbar-online">
    <div class="mdl-snackbar__text">
    </div>
    <button type="button" class="mdl-snackbar__action"></button>
  </div>
  <script type="text/javascript">
  $(function(){
    var notification = document.querySelector('#snackbar-online');
    var data = {
    message: '<%= flash[:success]  %> <%= flash[:error] %>',
    actionHandler: function(event) {},
    actionText: 'Close',
    timeout: 10000
    };
    <% if  flash[:success] or flash[:error] %>
      notification.MaterialSnackbar.showSnackbar(data);
    <% end %>
  });
  </script>
</body>
